body {
    background-color: #E4F4FD;
    height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 575px;
    border-radius: 24px;
    background-color: #fff;
    max-width: 1008px;
}

.results {
    height: 100%;
    background-color: #133041;
    border-top-right-radius:24px;
    border-bottom-right-radius:24px;
    border-bottom-left-radius:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.information {
    padding: 40px;
}

.inputContainer {
    position: relative;
    padding-bottom: 24px;
}

.inputContainer label {
    padding-bottom: 12px;
}

.inputContainer .innerElement {
    position: absolute;
    left: 0px; 
    height: 50%;
    top: 50%; 
    background-color: #E4F4FD; 
}

.headerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.headerForm h1 {
    margin-right: 20px;
}

.headerForm button{
    background: none;
    border: none;
    cursor: pointer; 
    /* border-bottom: 1px solid #4E6E7E;  */
}

.headerForm button:after {
    content: ''; /* Required for pseudo-elements */
    display: block;
    width: 49px;
    height: 2px; /* Set the desired thickness (height) for your line */
  background-color: #000;
}


.rates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-bottom: 12px;
}

.rates label {
    text-align: left;
}

.wrap {
    display: flex;
    position: relative;
    height: 40px;
    margin: auto;
}

.icon-wrap {
    position: absolute;
    height: 100%;
    width: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4F4FD;
    color: #4E6E7E;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.icon-wrap-error {
    position: absolute;
    height: 100%;
    width: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease-out, transform 1s ease-out; 
    background-color: #D73328;
    color: #fff;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.icon-wrap-error {
    position: absolute;
    height: 100%;
    width: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease-out, transform 1s ease-out; 
    background-color: #D73328;
    color: #fff;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.icon-wrap-error-terms {   
    position: absolute;
    height: 100%;
    width: 60px;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: background-color 1s ease-out, transform 1s ease-out; 
    background-color: #D73328;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.wrap:focus-within .icon-wrap {
    background-color: #D8DB2F;
}

.icon-wrap-error p {
    font-size: 12px;
}

.icon-wrap p {
    font-size: 10px;
    font-weight: 700;
}

.term-wrap .icon-wrap, .interest-wrap .icon-wrap {
    width: 60px;
    right: 0%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#term, #rate {
    padding-left: 10px;
}

.icon-wrap svg {
    font-size: 12px;
}

input {
    padding-left: 45px;
    width: 100%;
    outline-width: 1px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: 1px solid #6B94A8;
    border-radius: 4px;
}

.term-rate {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    justify-content: space-between;
}

.terms-rates{
    width: 45%;
}

.term-wrap {
    margin-left: -3px;
}

label {
    color: #4E6E7E;
}

.resultsCard {
    background-color: #133041;
    border-radius: 8px;
    position: relative;
    width: 80%;
}

.resultsCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
    height: 6px;
    background: #D8DB2F;
    border-radius: 6px 8px 0px 0px;
  }

.resultsCard p {
    width: unset !important;
}

.resultsCard p:nth-child(2) {
   color: #D8DB2F !important;
   font-size: 36px;
}

.results h1, .results p {
    color: white;
    width: 424px;
    padding: 10px;
}

.results p:first-of-type{
    color: #9ABED5;
    margin-bottom: 30px;
    line-height: 1.5;
}

hr {
    background-color: #9ABED5;
    height: 1px !important;
    opacity: 25%;
    width: 80%;
}

.results div {
    text-align: center;
}

.results img {
    position: relative; 
    top: 26px;
}

label {
    display: block; 
    margin-bottom: 5px; 
}

.repayment {
    position: relative;
}

.repayment button {
    padding: 10px;
    color: #133041;
    border-radius: 24px;
    background-color: #D8DB2F;
    border: none;
    padding: 14px 28px 14px 36px;
    cursor: pointer;
}

.repayment svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
}

.mortgageType div input {
    width: unset;
    height: 48px;
}

.repaymentType {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #6B94A8;
    margin-bottom: 10px;
}

.errorText {
    color: #D73328;
    top: 60%;
    position: absolute;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .container-flex {
      flex-direction: column;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      height: 675px;
    }
    .results {
        border-bottom-left-radius: 24px;
        border-top-right-radius: unset;
        width:100%;
    }
  }

  @media screen and (max-width: 375px) {
    .container-flex, .results {
      width: 350px;
    }
    .results p {
        font-size: 10px;
    }
  }